/*compras style*/
#erosketak{
    display: none;
  }
  .compras {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .compras form {
    text-align: center;
    padding: 10px;
  }
  
  .descuentoPrecio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  
  #descuento {
    text-align: center;
    gap: 100px;
  }
  
  .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }
  
  .precioTotal {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 5px;
  }
  
  .button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,
  .button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,
  .text,
  .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,
  .icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 36px;
  }
  
  .icon svg {
    width: 24px;
    height: 48px;
    
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,
  .button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  @media only screen and (max-width:1200px) and (min-width:842px) {
    .cards {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
    }
  
    .opciones .cards .card {
      margin:5px;
    }
  }
  
  @media only screen and (max-width:843px) {
    .cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: auto;
      height: auto;
      justify-content: center;
      gap: 0px;
      
    }
  
    .opciones .cards .card{
      width: 100%;
    }
  }
  

  /*COMPRAS*/

.opciones {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 70px;
  }
  
  .opciones .cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .opciones .cards img {
    border-radius: 10px;
    height: 250px;
  }
  
  .opciones .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: white;
    color: white;
    cursor: pointer;
    transition: 400ms;
    border: none;
  }
  
  .opciones .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .opciones .cards .card p.second-text {
    font-size: .7em;
  }
  
  .opciones .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .opciones .cards:hover>.card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
  
  .opciones button {
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: hsl(0, 0%, 0%);
    border: solid 4px hsl(0, 0%, 63%);
    text-align: center;
    font-family: inherit;
  
  }
  
  .opciones .default-btn,
  .hover-btn {
    background-color: hsl(0, 0%, 0%);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease;
  }
  
  .opciones .hover-btn {
    text-align: center;
    position: absolute;
    inset: 0;
    background-color: hsl(0, 0%, 0%);
    transform: translate(0%, 100%);
  }
  
  .opciones .default-btn span {
    color: hsl(0, 0%, 100%);
  }
  
  .opciones .hover-btn span {
    color: hsl(0, 0%, 100%);
  }
  
  .opciones button:hover .default-btn {
    transform: translate(0%, -100%);
  }
  
  .opciones button:hover .hover-btn {
    transform: translate(0%, 0%);
  }