/*NAV STYLE*/

#navbar {
  list-style-type: none;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;

}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.navbar-logo {
  background-color: black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 0.5em;
}

.navbar-logo img {
  width: 70px;
}

li :hover {
  font-weight: bold;
  transition: font-weight 0.1s ease;
}

/* FOOTER STYLE */
/* CARDS STYLE0 */

.card-info {
  height: 500px;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card img {
  height: 400px;
}

.navbar-logo img {
  width: 70px;
}

li :hover {
  font-weight: bold;
  transition: font-weight 0.1s ease;
}

.divcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*INDEX MEDIA QUERY*/

@media only screen and (max-width:1200px) {
  .divcards {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .card {
    margin: 5px;
  }
}

@media only screen and (max-width:500px) {
  .divcards {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .card {
    margin: 8px;
  }
}



/*FOOTER STYLE*/

footer {
  height: 350px;
  background-color: #333;
}

footer div img {
  width: 200px;
}

.linea-horizontal {
  border-top: 1px solid rgb(255, 255, 255);
  width: 300px;
  translate: 26%;
}
.linea-horizontal2 {
  border-top: 1px solid rgb(255, 255, 255);
}

.bajo {
  background-color: #333;
  height: 50px;
}

.containerr {
  position: relative;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.containerr button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #313638;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.containerr button:nth-child(1):hover {
  background-color: #2753a7;
}

.containerr button:nth-child(2):hover {
  background-color: #cd242b;
}

.containerr button:nth-child(3):hover {
  background-color: #55acee;
}

.containerr button:nth-child(4):hover {
  background-color: #0274b3;
}

.title {
  color: gray;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: -35px;
  left: 0;
}







